<main>
  <p>People List</p>
  <div class="container">
    <form #peopleForm="ngForm" (ngSubmit)="addPerson(peopleForm)" id="formContainer">
      <input type="text" placeholder="Name" name="name" [(ngModel)]="formData.name" required />
      <input type="text" placeholder="Age" name="age" [(ngModel)]="formData.age" required />
      
      <select name="gender" [(ngModel)]="formData.gender" required>
        <option [ngValue]="'Male'">Male</option>
        <option [ngValue]="'Female'">Female</option>
      </select>
      
      <input type="text" placeholder="Mobile" name="mobile" [(ngModel)]="formData.mobile" required />
      
      <button type="submit" class="add">
        {{ editingPerson ? 'Update' : 'Add' }}
      </button>
    </form>

    <div *ngIf="people.length > 0; else noPeople">
      <div *ngFor="let person of people" class="person-card">
        <p>Name: {{ person.name }}</p>
        <p>Age: {{ person.age }}</p>
        <p>Gender: {{ person.gender }}</p>
        <p>Mobile: {{ person.mobile }}</p>
        <button (click)="editPerson(person)">Edit</button>
        <button (click)="deletePerson(person._id)">Delete</button>
      </div>
    </div>
  </div>
  <ng-template #noPeople>
    <p>No people found.</p>
  </ng-template>
</main>
